<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Latest compiled and minified CSS -->
   {{>headerlinks}} 
  </head>
  <body>
  {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
          
            <div class="row">
                <!-- left side  -->
                <div class="col-md-6 col-12 main_header_right align-items-center" >
                    <figure class="errimg">
                     <img src="images/404.jpg" alt="Pranav Vishwakarma" class="img-fluid">
                    </figure>
                         </a>
                       </div>
                <div class="col-md-6 col-12 main_header_left" >
                <p>Welcome to weather app</p>
                <h1>{{errorMsg}}</h1>
               <a href="/" target="_pranav"><button>Go Back</button></a>    
            </div>
                <!-- right side  -->
               
                </div>
            </div>

          </div>
        </div>
    </div>
{{>footer}}
  </body>
</html>
